<%= form_for @artist do |f| %>

    <div>
        <%= f.label :artist_name %>
        <%= f.text_field :artist_name, class: 'form-control' %>
    </div>

    <br>
    <div>   
        <%= f.submit "Submit", remote: true, data: { toggle: "modal", target: "#exampleModal" }, class: 'btn btn-light' %>
    </div>

<% end %>